<!DOCTYPE html>
<html>

<head>
  <title>Relevant Holidays</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>

<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="{{ url_for('main.show_guests') }}">Guests</a>
      <a href="{{ url_for('main.rsvp_guest') }}">RSVP</a>
      <a href="{{ url_for('holiday.about_page') }}">Holidays</a>
      {% if current_user.is_authenticated and not current_user.is_admin %}
        <a href="{{ url_for('user.user_page') }}">Profile</a>
      {% elif current_user.is_admin %}
        <a href="{{ url_for('user.user_page') }}">Profile</a>
        <a href="{{ url_for('admin.admin_page') }}">Admin</a>
      {% else %}
        <a href="{{ url_for('user.login') }}">Log In</a>
      {% endif %}
    </nav>
  </header>
  <main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </main>
  {% block content %}
  {% endblock %}
  <footer>
    <div class="spacer"></div>
    <p>
      © FDIS 2020
    </p>
  </footer>
</body>

</html>
