{% extends 'base.html' %}

{% block content %}

<section id="body">
  <img src="{{ url_for('static', filename='/assets/fall.jpg')}}" alt="Trees changing colors in front of a mountaintop.">
  <h3>Fall Events</h3>
  {% if events %}
  {% for event in events %}
    <div class="events">
      <a href="{{ url_for('main.rsvp_guest') }}"><h4>{{ event.title }}</h4></a>
      <p>{{ event.date.strftime('%b %d, %Y') }}</p>
      <p>{{ event.time.strftime('%H:%M') }}</p>
      <p>{{ event.description }}</p>
    </div>
  {% endfor %}
  {% elif not events %}
  <h4>No events coming up!</h4>
  {% endif %}
</section>

{% endblock %}
